<template>
    <div class="dishes_wrapper">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary"
                        data-toggle="modal" data-target="#dishModal">
                    <i class="fa fa-plus"></i></button>
            </div>
        </div>
       <div class="row mt-3">
           <div class="col-12">
               <table class="table table-responsive">
                   <thead>
                   <tr>
                       <th>ID</th>
                       <th>Name</th>
                       <th>Options</th>
                   </tr>
                   </thead>
                   <tbody id="prods_list">
                       <tr class="text-center" v-for="dish in dishes">
                           <td>{{ dish.id }}</td>
                           <td>{{ dish.name }}</td>
                           <td><a @click="delDish(dish.id)"
                                  class="text-danger"><i class="fa fa-trash"></i></a></td>
                       </tr>
                   </tbody>
               </table>
           </div>
       </div>

        <!-- Modal -->
        <div class="modal fade" id="dishModal" tabindex="-1" role="dialog" aria-labelledby="dishModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="dishModalLabel">Add new dish</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Dish name:</label>
                                <input type="text" v-model="form.name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Preparation time (minutes):</label>
                                <input type="text" v-model="form.time" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Select products:</label>
                                <multiselect :multiple="true"
                                             track-by="id" label="name"
                                             v-model="value" :options="prods"></multiselect>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success float-right"
                                        @click="saveDish()">
                                    <i class="fa fa-save"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	import axios from 'axios';
	import Vue from 'vue';
	import Vuelidate from 'vuelidate';
	import { required } from 'vuelidate/lib/validators';
	import Swal from 'sweetalert2';
	import Multiselect from 'vue-multiselect';

	Vue.component('multiselect', Multiselect)
	Vue.use(Vuelidate);

	export default {
		data() {
			return {
				form: {
					name: null,
					time: null,
				},
                prods: [],
                value: [],
                dishes: []
			}
		},

        created() {
			this.loadProducts();
			this.loadDishes();
			this.$on('afterDelDish', function (id) {
				var removeIndex = this.dishes.map(function(item) { return item.id; }).indexOf(id);
				this.dishes.splice(removeIndex, 1);
			});
        },

		validations: {
			form: {
				name: { required },
                time: { required }
			}
		},

		methods: {
			loadProducts: function() {
				axios.get('/panel/get-prods-name')
					.then((response) => {
						this.prods = response.data;
					}).catch((e) => {
					console.error(e);
				});
            },
			loadDishes: function() {
				axios.get('/panel/dishes/get-dishes')
					.then((response) => {
						this.dishes = response.data;
					}).catch((e) => {
					console.error(e);
				});
			},
			saveDish: function () {
				this.$v.form.$touch();

				if(this.$v.form.$error) {
					this.message('Validation', 'Dish name & time is required', 'error');
					return;
				};

				var name = this.form.name;

				axios.post('/panel/dishes', {
					name: name,
					time: this.form.time,
					prods_ids: this.value
				}).then((response) => {
					this.message('Success', 'Dish was saved');
					//add product data
                    var dish = [];
					dish['id'] = response.data;
					dish['name'] = name;
                    this.dishes.push(dish);

					this.value = []; this.search = []; this.selected = [];

				}).catch((e) => {
					this.message('Dish was not saved',
                        'Dish name should be unique, time should be numeric', 'error');
					console.error(e);
				});
				this.form.name = null;
				this.form.time = null;
			},
			message: function (title, text, type = null, time = 1500) {
				if (type == null) type = 'success';
				Swal.fire({
					title: title,
					text: text,
					type: type,
					showConfirmButton: false,
					timer: time
				});
			},
            getProds: function () {
				axios.get('/panel/get-prods')
                    .then((response) => {
						return response.data;
				    }).catch((e) => {
					    console.error(e);
				    });
			},
            delDish: function (id) {
				var $this = this;
				axios.delete('/panel/dishes/' + id)
                    .then(function () {
						$this.$emit('afterDelDish', id);
					});
			}
		}
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped lang="scss">
    .dishes_wrapper {

    }
</style>