<template>
    <div class="prods_wrapper">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary"
                        data-toggle="modal" data-target="#productModal">
                    <i class="fa fa-plus"></i></button>
            </div>
        </div>
       <div class="row mt-3">
           <div class="col-12">
               <table class="table table-responsive">
                   <thead>
                   <tr>
                       <th>ID</th>
                       <th>Name</th>
                       <th>Options</th>
                   </tr>
                   </thead>
                   <tbody id="prods_list">
                       <tr class="text-center" v-for="prod in prods">
                           <td>{{ prod.id }}</td>
                           <td>{{ prod.name }}</td>
                           <td><a @click="delProd(prod.id)"
                                  class="text-danger"><i class="fa fa-trash"></i></a></td>
                       </tr>
                   </tbody>
               </table>
           </div>
       </div>

        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productModalLabel">Add new product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Product name:</label>
                                <input type="text" v-model="form.name" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success float-right"
                                        @click="saveProduct()">
                                    <i class="fa fa-save"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	import axios from 'axios';
	import Vue from 'vue';
	import Vuelidate from 'vuelidate';
	import { required } from 'vuelidate/lib/validators';
	import Swal from 'sweetalert2';

	Vue.use(Vuelidate);

	export default {
		data() {
			return {
				form: {
					name: null
				},
                prods: []
			}
		},

        created() {
			this.loadProducts();
			this.$on('afterDelProds', function (id) {
				var removeIndex = this.prods.map(function(item) { return item.id; }).indexOf(id);
				this.prods.splice(removeIndex, 1);
			});
        },

		validations: {
			form: {
				name: { required }
			}
		},

		methods: {
			loadProducts: function() {
				axios.get('/panel/get-prods')
					.then((response) => {
						this.prods = response.data;
					}).catch((e) => {
					console.error(e);
				});
            },
			saveProduct: function () {
				this.$v.form.$touch();
				var name = this.form.name;
				if(this.$v.form.$error) {
					this.message('Validation', 'Product name is required', 'error');
					return;
				};

				axios.post('/panel', {
					name: name,
				}).then((response) => {
					this.message('Success', 'Product was saved');
					//add product data
                    var prod = [];
					prod['id'] = response.data;
					prod['name'] = name;
                    this.prods.push(prod);
				}).catch((e) => {
					this.message('Product was not saved', 'Name should be unique', 'error');
					console.error(e);
				});
				this.form.name = null;
			},
			message: function (title, text, type = null, time = 1500) {
				if (type == null) type = 'success';
				Swal.fire({
					title: title,
					text: text,
					type: type,
					showConfirmButton: false,
					timer: time
				});
			},
            getProds: function () {
				axios.get('/panel/get-prods')
                    .then((response) => {
						return response.data;
				    }).catch((e) => {
					    console.error(e);
				    });
			},
            delProd: function (id) {
				var $this = this;
				axios.delete('/panel/' + id)
                    .then(function () {
						$this.$emit('afterDelProds', id);
					});
			}
		}
    }
</script>

<style scoped lang="scss">
    .prods_wrapper {

    }
</style>