<template>
    <div class="front_wrapper">
        <div class="row">
            <div class="col-12">
                <h3>Product list</h3>
                <h4>Choose products</h4>
            </div>
            <div class="col-12">
                <form>
                    <span v-for="prod in prods" >
                        <input @click="searchDish(prod.id)" type="checkbox"/> {{ prod.name }}
                    </span>
                </form>
            </div>
            <hr>
            <div class="col-12">
                <h4>Dishes list that contain selected products</h4>
                <p v-if="dishes.length == 0">No dishes</p>
                <ul v-for="dish in dishes">
                    <li>{{ dish.name }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		data() {
			return {
				prods: [],
				form: [],
                dishes: []
			}
		},

		created() {
			this.loadProducts();
			this.loadDishes();
		},

		methods: {
			loadProducts: function () {
				axios.get('/panel/get-prods-name')
					.then((response) => {
						this.prods = response.data;
					}).catch((e) => {
					console.error(e);
				});
			},
			loadDishes: function() {
				return this.dishes;
			},
			searchDish: function (id) {
				var found = this.form.find(function(element) {
					return element == id;
				});

				if (!found) {
					this.form.push(id);
                } else {
					var removeIndex = this.form.map(function(item) { return item; }).indexOf(id);
					this.form.splice(removeIndex, 1);
                }

				axios.post('/get-dishes-by-prods', {
					prod_ids: this.form
                }).then((response) => {
						this.dishes = response.data;
                }).catch((e) => {
                console.error(e);
                });
			}
		}
    }
</script>

<style scoped lang="scss">
</style>